<div class="upload-file-border">
    <meta charset="utf-8" />
    <div class="ngdialog ngdialog-theme-default" ng-class="{ ngdialogClosing : isClose }" ng-show="isShowPwDialog" style="display:block;">
        <div class="ngdialog-overlay"></div>
        <div class="ngdialog-content">
            <div class="z-panel-heading">
                <span class="z-panel-title">修改密码</span>
                <i class="fa  fa-close close-off-x" ng-click="backoff()" title="关闭"></i>
            </div>
            <div class="z-panel-body">
                <div class="input-phone-div">
                    <label class="input-phone-hint">旧密码</label>
                    <input type="password" placeholder="请输入旧密码" ng-model="oldPassword" class="phone-input-sel" />
                </div>
                <div class="input-phone-div">
                    <label class="input-phone-hint">新密码</label>
                    <input type="password" placeholder="请输入新密码" ng-model="newPassword" class="phone-input-sel" />
                </div>
                <div class="btn-btn-div">
                    <div class="btn-sure-phone">
                        <button class="btn btn-primary btn-block" ng-class="{ btnActive : isModifyPWClick }" ng-disabled="isModifyPWClick" ng-click="pwEdit()"><i class="fa-loading"></i>确定</button>
                    </div>
                    <div class="btn-sure-return">
                        <button class="btn btn-default btn-block" ng-click="backoff()"> 返回 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>