<div class="upload-file-border">
    <meta charset="utf-8" />
    <div class="ngdialog ngdialog-theme-default" ng-class="{ ngdialogClosing : isClose }" ng-show="isShowDialog" style="display:block;">
        <div class="ngdialog-overlay"></div>
        <div class="ngdialog-content">
            <div class="z-panel-heading">
                <span class="z-panel-title">{{ dialogTitle }}</span>
                <span style="color:#ff0000;font-size:12px;padding-left:8px;">注:<span ng-if="modelUrl">{{ modelHint }}</span>文件最大: 20MB,超出自动排除</span>
                <i class="fa  fa-close close-off-x" ng-click="closeOff()" title="关闭"></i>
            </div>
            <div class="z-panel-body file-upliad-body">
                <div class="scale-loading" ng-class="{ scaleLoading : isUploading }">
                    <div class="loader-inner line-scale upload-loading">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="loading-content">文件上传中...</div>
                    <div class="mask-loading"></div>
                </div>
                <div class="input-phone-div" ng-if="modelUrl">
                    <label class="input-phone-hint">模板</label>
                    <a class="import-model-a" ng-href="{{ modelUrl }}" download>Excel模板</a>
                </div>
                <div class="input-phone-div">
                    <label class="input-phone-hint">选择文件</label>
                    <div class="btn btn-default btn-upload">
                        选择文件
                        <div ngf-select="uploadExcelFile($files)" multiple="{{ isMultiple }}" ng-model="uploadFile" ngf-keep="{{ isMultiple }}" title="文件上传" accept="{{ fileAccept }}" class="ng-file-upload-div"></div>
                    </div>
                </div>
                <div class="input-phone-div clear-float">
                    <label class="input-phone-hint col-md-4">已选择文件</label>
                    <div class="col-md-8 clear-padding">
                        <div class="btn-upload-div sel-file-div" ng-repeat="item in fileList">
                            <span class="icon-file icon_is_file"></span>
                            <a title="{{ item.name }}" class="file-name-span">{{ item.name }}</a>
                            <span class="close-span" ng-click="deleteFile($index)" title="删除">x</span>
                            <div><span style="font-size: 12px;">大小: {{ item.length }}</span></div>
                        </div>
                    </div>
                </div>
                <div class="btn-btn-div">
                    <div class="btn-sure-phone">
                        <button class="btn btn-primary btn-block" ng-disabled="fileList.length == 0" title="确定" ng-click="sureUpload()"> 确定 </button>
                    </div>
                    <div class="btn-sure-return">
                        <button class="btn btn-default btn-block" title="返回" ng-click="closeOff()"> 返回 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>