<div class="animation-content padding-content">
    <meta charset="utf-8">
    <div class="form-horizontal clear-float">
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">需求编码</label>
                <div class="col-sm-9">
                    <div class="input-public-max btnNoEdit">{{ requestId }}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">CRM需求订单编号</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max" ng-model="crmRequestId" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS项目编号</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsPrjCode" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">CRM建设方式</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="crmBuildType" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">CRM铁塔种类</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="crmTowerType" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">CRM铁塔细分种类</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="crmTowerSpecType" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">CRM机房类型</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="crmRoomType" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS设计院</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsDesigner" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS监理单位</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsSuperviser" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS项目批复时间</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsPrjApprovDate" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS设计批复时间</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsDesignApprovDate" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS开工时间</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsBuildStartDate" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS完工时间</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsBuildEndDate" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS内验时间</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsAcceptDate" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS项目状态</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsPrjState" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">CRM系统交付时间</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="crmDeliverDate" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">CRM起租时间</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="crmRentDate" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">PMS项目节点</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="pmsPrjNode" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 eletRe-hint">
            <div class="form-group">
                <label class="col-sm-3 control-label eletRe-hint">CRM订单状态</label>
                <div class="col-sm-9">
                    <input type="text" class="input-public-max btnNoEdit" ng-model="crmRequestState" disabled="disabled" />
                </div>
            </div>
        </div>
    </div>
    <div class="btn-btn-div">
        <div class="btn-center">
            <button class="btn btn-primary btn-block"  ng-click="save()">保存</button>
        </div>
    </div>
</div>